@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

body {
  margin: 0;
  height: 100vh;
}

#app {
  background-color: #f3e4f5;
  min-height: 100vh;
}

* {
  scrollbar-width: thin;
  box-sizing: border-box;
  font-family: Quicksand;
}

.input-container {
  position: relative;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.input-field:disabled ~ .input-placeholder {
  display: none;
}

.input-placeholder {
  position: absolute;
  top: 25%;
  left: 0.5rem;
  background: white;
  padding: 0 0.25rem;
  transition: 0.2s ease all;
  pointer-events: none;
  color: #777;
  border-radius: 5px;
}

.input-field:focus ~ .input-placeholder,
.input-field:not(:placeholder-shown) ~ .input-placeholder {
  top: 0;
  transform: translateY(-50%) scale(0.8);
  color: #000;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 15px;
}
